{% extends "main.html" %}
{% include 'header.html' %}
{% block content %}
	<div class = "flex">
		<div class = "row category-list">
			{% if logged_out == False %}
				<a href = "{{url_for('addCategory')}}" class = "add_url">
						<h5>Add New Category</h5>
				</a>
			{% endif %}
			<span id = "category-heading"> 
				Categories
			</span>
				{% for category in categories %}
						<a href = "{{url_for('printCategory', category_name = category.name)}}">
							<h2>
								{{category.name}}
							</h2>
						</a>
				{% endfor %}
			</span>
		</div>
		<div class = "row filler">
		</div>
		<div class = "row latest-item-list">
			{% if logged_out == False %}
				<a href = "{{url_for('addItem')}}" class = "add_url">
						<h5>Add New Item</h5>
				</a>
			{% endif %}
			<span id = "category-heading"> Latest Items</span>
			{% for i in range(latest_items|count) %}
				<a href = "{{url_for('describeItem', category_name = category_list[i], item_name = latest_items[i].name)}}">
					<span id  = 'item-name'> 
						<br>{{latest_items[i].name}}
					</span>
				</a>
				<span id = 'category-name'> 
					({{category_list[i]}})
				</span>
			{% endfor %}
		</div>
	</div>
{% endblock %}
